/* MyVideosPage.css */

.my-videos-page {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.my-videos-page h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.my-videos-page ul {
    list-style-type: none;
    padding: 0;
}

.my-videos-page li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
}

.my-videos-page li:last-child {
    border-bottom: none;
}

.my-videos-page img {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.my-videos-page p {
    margin: 0;
}

.centered-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    /* Adjust height as needed */
    font-size: 1.5em;
    text-align: center;
}

.error {
    color: red;
    font-weight: bold;
}

.video-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  
  .video-item {
    width: 200px;
    text-align: center;
  }
  
  .video-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  